# Build output folders
/build/
/.gradle/

# IntelliJ IDEA specific configuration
*.iml
*.iws
*.ipr
.idea/
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
.idea/misc.xml

# Node modules and build artifacts
node_modules/
/bin/
/out/

# General ignores
*.log
.fake