.ql-toolbar.ql-snow {
    border: none;
    padding: 0;
}

.ql-container.ql-snow {
    border: none;
}

.ql-editor {
    min-height: 320px;
    padding: 0;
}

.notes-prewrap {
    white-space: pre-wrap;
}
