.checkbox-wrapper {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;

}

.checkbox-wrapper input {
    opacity: 0;
    position: absolute;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.checkbox-custom {
    width: 22px;
    height: 22px;
    border: 2px solid #6b7280;
    border-radius: 6px;
    transition: 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-wrapper input:checked + .checkbox-custom {
    background: #2563eb;
    border-color: #2563eb;
    transform: scale(1.05);
}

.checkbox-wrapper input:checked + .checkbox-custom:after {
    content: "X";
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.fade-expand {
    animation: fadeExpand 0.75s ease-out forwards;
}

@keyframes fadeExpand {
    from { opacity: 0; transform: translateY(-8px); }
    to { opacity: 1; transform: translateY(0); }
}
