body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

/*header*/

.page_content {
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "Arial Black", sans serif;
    font-size: 2em;
    color: rgb(0,0,0);
}

.exercise_description {
    font-size: 1.2em;
}

.completed_button {
    margin-bottom: 30px;
    padding: 9px 25px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: rgb(255, 255, 255);
}

.completed_button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.exercise_tut_vid {
    display: block;
}
