/*header*/
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 4%;
    background: linear-gradient(135deg, #078064 0%, #cdfbf3 100%);
}


a,button {
    font-family: "Verdana", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.menu {
    display: inline-block;
    padding: 0 20px;
}

.ui-menu-item {
    color: rgb(253, 253, 253);
    margin: 10px;
    position: relative;
}

.ui-menu-item::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.ui-menu-item:hover::after {
    width: 100%;
}

.login_button {
    padding: 9px 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: rgb(0, 0, 0);
}

.login_button:hover {
    background-color: rgba(0, 0, 0);
    color: rgb(255, 255, 255);
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 300px;
    height: auto;
}