<head>
    <title>Home Page</title>
</head>

<!--put entire body in flex for accessibility-->
<body>

<!--logo on the left, middle mainly free, right corner navbar to different pages-->
<section th:class="banner" th:style="|background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(@{/img/banner.jpg});|" >
    <header th:class="header" th:insert="~{fragments/navbar.html}"></header>
    <div th:class="bannerContent" th:replace="~{fragments/banner}"></div>
</section>

<div th:class="content" th:replace="~{fragments/AccountHomePage}"></div>

<!--        <h1>What do you want to work on?</h1>-->

<!--        <div th:class="Core_Pillars">-->

<!--            <div th:class="item">-->
<!--                <img th:class="CP_img" alt="" th:src="@{/img/PhysicalActivity.jpg}">-->
<!--                <h3>Physical Activity</h3>-->
<!--                <p th:class="CP_description">xyjtyjjyt</p>-->
<!--            </div>-->

<!--            <div th:class="item">-->
<!--                <img th:class="CP_img" alt="" th:src="@{/img/Nutrition.jpg}">-->
<!--                <h3>Nutrition</h3>-->
<!--                <p th:class="CP_description">xytjxtyj</p>-->
<!--            </div>-->

<!--            <div th:class="item">-->
<!--                <img th:class="CP_img" alt="" th:src="@{/img/Sleep.jpg}">-->
<!--                <h3>Sleep</h3>-->
<!--                <p th:class="CP_description">xyjxtjt</p>-->
<!--            </div>-->

<!--            <div th:class="item">-->
<!--                <img th:class="CP_img" alt="" th:src="@{/img/StressManagement.jpg}">-->
<!--                <h3>Stress Management</h3>-->
<!--                <p th:class="CP_description">ydddjtj</p>-->
<!--            </div>-->

<!--            <div th:class="item">-->
<!--                <img th:class="CP_img" alt="" th:src="@{/img/SubstanceAvoidance.jpg}">-->
<!--                <h3>Substance Avoidance</h3>-->
<!--                <p th:class="CP_description">djty</p>-->
<!--            </div>-->

<!--            <div th:class="item">-->
<!--                <img th:class="CP_img" alt="" th:src="@{/img/SocialConnection.jpg}">-->
<!--                <h3>Social Connection</h3>-->
<!--                <p th:class="CP_description">hgkgkf</p>-->
<!--            </div>-->

<!--        </div>-->


<!--<section th:class = "ReadMore">-->

<!--</section>-->

<!--<footer>-->

<!--</footer>-->

</body>